#app .home {
  padding-top: 6em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
}

/* NavBar Logo
#app .navbar .home-link span:before {
  display: inline-block;
  content: '';
  width: 32px;
  height: 32px;
  background: url(../img/logo.png) no-repeat;
  background-size: 100% 100%;
  vertical-align: bottom;
  margin-right: 8px;
}
*/
.navbar .logo {
  margin-right: 0.4rem !important;
}

.home .features {
  /*display: none !important;*/
}

.home .tech-stack {
  margin-top: 2.5rem;
  padding: 1.2rem 0;
  text-align: center;
  border-top: 1px solid #eaecef;
}

.home .tech-stack h1 {
  text-align: center;
  color: #4e6e8e;
  /*color: #139ce7*/
}

.home .tech-stack .tech-logo {
  text-align: center;
}

.home .tech-stack .tech-logo-icon {
  position: relative;
  display: inline-block;
  width: 128px;
  height: 128px;
  text-align: center;

  transition-duration: .3s;
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
}

.home .tech-stack .tech-logo-icon svg {
  padding: 32px;
  width: 64px;
  height: 64px;
}

.home .tech-stack .tech-logo-icon:hover {
  --transform-scale-x: 1.1;
  --transform-scale-y: 1.1;
}

.home .tech-stack .tech-logo-icon:hover:before {
  content: "";
  position: absolute;
  bottom: 13px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 6px solid #0e2439;
  margin-left: -6px;
}

.home .tech-stack .tech-logo-icon:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -13px;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 4px 8px;
  margin: 0 auto;
  width: 100%;
  color: hsla(0, 0%, 100%, .88);
  background: #0e2439;
  border-radius: 4px;
}

/* Custom Containers - fix theme bug */
/* fix: tip */
.custom-block.tip {
  background-color: #f3f5f7;
  border-color: #42b983;
}

/* fix: warning */
.custom-block.warning {
  background-color: rgba(255,229,100,.3);
  border-color: #e7c000;
  color: #6b5900;
}

.custom-block.warning .custom-block-title {
  color: #b29400;
}

/* fix: danger */
.custom-block.danger {
  background-color: #ffe6e6;
  border-color: #c00;
  color: #4d0000;
}

.custom-block.danger .custom-block-title {
  color: #900;
}

/* fix: .tip .warning .danger block */
.custom-block.danger, .custom-block.tip, .custom-block.warning {
  padding: .1rem 1.5rem;
  border-left-width: .5rem;
  border-left-style: solid;
  margin: 1rem 0;
}

/* fix: title */
.custom-block .custom-block-title {
  font-weight: 600;
  margin-bottom: -.4rem;
}

/* fix: details */
.custom-block.details {
  display: block;
  position: relative;
  border-radius: 2px;
  margin: 1.6em 0;
  padding: 1.6em;
  background-color: #eee;
}

.custom-block.details summary {
  outline: none;
  cursor: pointer;
}

.custom-block.details div[class*='language-'] {
  margin-top: 10px;
}

/* Custom Containers - define tip title color */
.custom-block.tip .custom-block-title {
  color: #42b983;
}

/* Comment Link */
.comment-link {
  /*text-align: right;*/
  /*margin-bottom: 8px;*/
  display: inline-block;
}
.comment-link a {
  color: #4e6e8e;
}

/* fix: remove background-color in .token.operator */
.theme-default-content code .token.operator{
  background: transparent !important;
}

/* fix: remove/set background-color in .token.url(.token.function / .token.punctuation / .token.string.url) */
.theme-default-content code .token.url .token.function,
.theme-default-content code .token.url .token.punctuation,
.theme-default-content code .token.url .token.string.url {
  background: #ecf4fa !important; /* not effect while set transparent */
}

/* Inline Code Block
.theme-default-content code {
  font-size: 14px !important;
  padding: 2px 4px;
  border-radius: 4px;
  margin-right: 2px;
  margin-left: 2px;
  color: rgb(30, 107, 184) !important;
  background-color: rgba(27, 31, 35, 0.05) !important;
  font-family: "Operator Mono", Consolas, Monaco, Menlo, monospace !important;
  word-break: break-all !important;
}
*/

/* NavBar style */
.dropdown-wrapper .nav-dropdown .dropdown-item h4 {
  padding: 0.75rem 1.5rem 0.45rem 1.25rem !important;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}

::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
