body {
  font-family: Microsoft Yahei, Hiragino Sans GB, SimSun, Helvetica, Arial, Sans-serif, serif;
}

#app .home {
  /*background: #f5f5f5;*/
  /*overflow-x: hidden;*/
  /*max-width: 100% !important;*/
  /*background-image: url(https://www.seoblogs.cn/images/bj.jpg);*/
}

/* NavBar Logo
#app .navbar .home-link span:before {
  display: inline-block;
  content: '';
  width: 32px;
  height: 32px;
  background: url(../img/logo.png) no-repeat;
  background-size: 100% 100%;
  vertical-align: bottom;
  margin-right: 8px;
}
*/
.navbar .logo {
  margin-right: 0.4rem !important;
}

.home .features {
  /*display: none !important;*/
}

.home .tech-stack {
  margin-top: 2.5rem;
  padding: 1.2rem 0;
  text-align: center;
  border-top: 1px solid #eaecef;
}

.home .tech-stack h1 {
  text-align: center;
  color: #4e6e8e;
  /*color: #139ce7*/
}

.home .tech-stack .tech-logo {
  text-align: center;
}

.home .tech-stack .tech-logo-icon {
  position: relative;
  display: inline-block;
  width: 128px;
  height: 128px;
  text-align: center;

  transition-duration: .3s;
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
}

.home .tech-stack .tech-logo-icon svg {
  padding: 32px;
  width: 64px;
  height: 64px;
}

.home .tech-stack .tech-logo-icon:hover {
  --transform-scale-x: 1.1;
  --transform-scale-y: 1.1;
}

.home .tech-stack .tech-logo-icon:hover:before {
  content: "";
  position: absolute;
  bottom: 13px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 6px solid #0e2439;
  margin-left: -6px;
}

.home .tech-stack .tech-logo-icon:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -1rem;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 4px 8px;
  margin: 0 auto;
  width: 100%;
  color: hsla(0, 0%, 100%, .88);
  background: #0e2439;
  border-radius: 4px;
}

/* Custom Containers */
.custom-block.tip .custom-block-title {
  color: #42b983;
}

/* Comment Link */
.comment-link {
  /*text-align: right;*/
  /*margin-bottom: 8px;*/
  display: inline-block;
}
.comment-link a {
  color: #4e6e8e;
}

/* Inline Code Block
.theme-default-content code {
  font-size: 14px !important;
  padding: 2px 4px;
  border-radius: 4px;
  margin-right: 2px;
  margin-left: 2px;
  color: rgb(30, 107, 184) !important;
  background-color: rgba(27, 31, 35, 0.05) !important;
  font-family: "Operator Mono", Consolas, Monaco, Menlo, monospace !important;
  word-break: break-all !important;
}
*/

/* ScrollBar */
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}

::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
